html{font-family: sans-serif; font-size: 12px; background-color: #A190AB}

body{margin: 0;}

.info{position: fixed; top: 0px; width: calc(40vw - 100px); padding: 10px 20px 10px 20px;}

.highlight {display: inline-block; padding: .5em; background: black; color: white;}

.poster{display: block; width: 100vw; height: 100vh; display: flex; justify-content: right;}

.selected{text-decoration: underline; text-underline-offset: 4px;}

footer{
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: 40px;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	column-gap: 20px;
}